@model Template.Api.ViewModels.LoginViewModel
<div>
    <form method="post">
        <div>
            <label for="Username">Username</label>
            <input type="text" id="Username" name="Username"  />
        </div>
        <div>
            <label for="Password">Password</label>
            <input type="password" id="Password" name="Password" />
        </div>
        <div>
            <input type="submit" value="Login"/>
        </div>
    </form>
</div>